<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>{{title}}</h1>
        <p>Written by {{author}}</p>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy; {{year}} Tech Blog</p>
    </footer>
</body>
</html>